.form-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
}

.button-wrapper {
    width: 100%;
    height: fit-content;
}