.nav-link {
    position: relative;
    color: var(--accent-primary);
    font-family: Raleway-Regular, sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    transition: opacity .4s;
}

.arrow {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s linear, visibility .4s linear;
    fill: var(--accent-primary);
    width: 11px;
    height: 11px;
    will-change: visibility;
}

.nav-link span {
    position: relative;
    transition: margin .4s ease-in-out;
    will-change: margin;
    white-space: nowrap;
}

.nav-link span::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    color: var(--accent-primary);
}

.nav-link span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: var(--accent-primary);
    transition: width .4s ease-out;
    will-change: width;
}

.nav-link:hover span{
    margin-left: 1.5rem;
    opacity: 1;
}

.nav-link:hover .arrow{
    opacity: 1;
    visibility: visible;
}

.nav-link:hover span::after{
    width: 100%;
}

