.nav-link {
    text-align: center;
    position: relative;
    color: var(--accent-primary);
    font-family: Inter-Light, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    opacity: .5;
    transition: opacity .2s;
}

.nav-link span {
    position: relative;
    transition: margin .4s ease-in-out;
    will-change: margin;
    white-space: nowrap;
}