.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    align-content: space-between;
    flex-direction: column;
    padding: 50px 100px 50px 100px;
}

.text-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 40px 0 40px;
    gap: 20px;
}

.text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.section-about {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    font-family: Inter, sans-serif;
}

.photo-section {
    width: 100%;
    border-radius: 30px;
    height: 765px;
    background: url(../../../../public/marina-bay-sands-05.jpg) lightgray 50% / cover no-repeat;
}

.photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 100px 0 100px;
}

.description {
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter-Regular, sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

.heading {
    color: #000;
    font-family: Sora, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}