:root {
  --background-primary-color: #b14040;
  --background-gradient-color: radial-gradient(50% 50% at 50% 50%, #E92038 0%, rgba(124, 21, 33, 0.97) 44%, rgba(9, 9, 9, 0.94) 100%);


/* Colors */
  --accent-primary: #ffffff;
  --accent-black: #0A0A0A;
  --accent-green: #11D11B;
  --accent-alizarin-crimson: #E92038;

  --accent-alizarin-crimson-gradient: linear-gradient(280deg, #83121F 3.75%, #E92038 93.79%);
  --accent-black-gradient: linear-gradient(280deg, #0E0E0E 3.75%, #010101 93.79%);

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Sora';
  src: url('../shared/assets/fonts/Sora-Regular.ttf');
}

@font-face {
  font-family: 'PixelifySans';
  src: url('../shared/assets/fonts/PixelifySans-Regular.ttf');
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../shared/assets/fonts/SpaceGrotesk-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../shared/assets/fonts/MontserratAlternates-Regular.ttf');
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('../shared/assets/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url("../shared/assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: 'Inter-Light';
  src: url("../shared/assets/fonts/Inter-Light.ttf");
  font-display: auto;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url("../shared/assets/fonts/Inter-Medium.ttf");
  font-display: auto;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url("../shared/assets/fonts/Inter-SemiBold.ttf");
  font-display: auto;
}

@font-face {
  font-family: 'Sora-Bold';
  src: url("../shared/assets/fonts/Sora-Bold.ttf");
  font-display: auto;
}

.container {
  width: 100vw;
  height: 100vh;
}