.menu_mask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.calendar_wrapper {
    position: absolute;
    transform: translateY(2%);
    visibility: hidden;
}

.show {
    visibility: visible;
}